@model List<Calendario.ViewModel.SalaAulaViewModel>
@{ Layout = null; }
@{
    var a = new DateTime(2000, 1, 1, 0, 0, 0);
    var b = new DateTime(2000, 1, 2, 0, 0, 0);
}

<div class="divTituloMarg">
    <div class="divImagem">
        <img class="imagemSeta" src="http://www.fiatbotta.com.br/wp-content/themes/Fiatbotta/img/seta.png" />
    </div>
    <div class="divTituloMargConteudo" id="divTituloHorario">
        @foreach (var sala in Model)
        {
            <div class="divTitulo">
                <img style="width: 100px;" src="@sala.Imagem" />
            </div>
        }
    </div>
</div>

<div class="divGeral">
    <ul class="divHora">
        @for (var i = a; i < b; i = i.AddHours(1))
        {
            <li>@i.ToShortTimeString()</li>
        }
    </ul>
    <div class="divConteudo" id="divHorarios">
        @foreach (var sala in Model)
        {
            <ul class="divAgenda">
                @for (var i = a; i < b; i = i.AddHours(1))
                {
                    var listHorario = sala.Agenda
                        .Where(x => x.Horario.Hour == i.Hour)
                        .OrderBy(x => x.Horario)
                        .ToList();
                    <li data-hora="@i.Hour">
                        @foreach (var hor in listHorario)
                        {
                            <div class="divAula" data-min="@hor.Horario.Minute">
                                <div class="divAulaImagem">☻</div>
                                <div class="divAulaHorario">@hor.Horario.ToShortTimeString()</div>
                                <div class="divAulaTexto">@hor.Descricao</div>
                                <div class="divAulaProfessor">@hor.Professor</div>
                            </div>
                        }
                    </li>
                }
            </ul>
        }
    </div>
</div>

<script>
</script>

<script>
    $('#divHorarios').scroll(function () {
        $('#divTituloHorario').scrollLeft($('#divHorarios').scrollLeft());
    });

    $('[data-hora]').each(function () {
        var margem = 0;
        $(this).children('.divAula').each(function () {
            console.log('filhos -' + margem);
            var a2 = $(this).attr('data-min');
            var a3 = a2 * 4;
            var a4 = (a3 - margem) + 'px';
            $(this).css('margin-top', a4);
            margem += (
                parseInt($(this).css('margin-top').replace('px', '')) +
                    parseInt($(this).css('height').replace('px', ''))
            );
        });
    });
</script>