@model List<Calendario.ViewModel.SalaAulaViewModel>
@using System.Globalization
@{
    ViewBag.Title = "Home Page";
    var ano = 2000;
}
@*<link href="~/Content/CalendarioDia.css" rel="stylesheet" />
    <script src="~/Scripts/CalendarioDia.js"></script>*@
<br />
<div class="row">
    <div class="col-sm-4">
        <select class="form-control" id="ddlAno" onchange="GetCalendar()">
            @for (var j = 1; j <= 100; j++)
            {
                <option value="@ano">@ano</option>
                ano++;
            }
        </select>
    </div>
    <div class="col-sm-4">
        <select class="form-control" id="ddlMes" onchange="GetCalendar()">
            @for (var j = 1; j <= 12; j++)
            {
                <option value="@j">@DateTimeFormatInfo.CurrentInfo.GetMonthName(j)</option>
            }
        </select>
    </div>
    <div class="col-sm-2">
        <div class="form-control">
            <label id="lb1"></label>
            <label id="lb2"></label>
        </div>
    </div>
    <div class="col-sm-2">
        <button type="button" onclick="refresh()">Click</button>
    </div>
</div>
<br />
<div class="row" id="divCalendar">
    @Html.Partial("_CalendarDia4", Model)
</div>

<script>
    var conteudo = [
        {
            Nome: "",
            Imagem: "http://www.akytudo.com.br/imagens/placa-preta.png",
            Agenda: [
                {
                    Horario: new Date(2000, 1, 1, 8, 10, 0),
                    Descricao: "Aula Matematica",
                    Professor: "Gustavo Maritan"
                }
            ]
        },
        {
            Nome: "",
            Imagem: "http://www.akytudo.com.br/imagens/placa-preta.png",
            Agenda: [
                {
                    Horario: new Date(2000, 1, 1, 8, 10, 0),
                    Descricao: "Aula Matematica",
                    Professor: "Gustavo Maritan"
                }
            ]
        },
        {
            Nome: "",
            Imagem: "http://www.akytudo.com.br/imagens/placa-preta.png",
            Agenda: [
                {
                    Horario: new Date(2000, 1, 1, 8, 10, 0),
                    Descricao: "Aula Matematica",
                    Professor: "Gustavo Maritan"
                }
            ]
        },
        {
            Nome: "",
            Imagem: "http://www.akytudo.com.br/imagens/placa-preta.png",
            Agenda: [
                {
                    Horario: new Date(2000, 1, 1, 8, 10, 0),
                    Descricao: "Aula Matematica",
                    Professor: "Gustavo Maritan"
                }
            ]
        }];

    var conteudo2 = [
    {
        Nome: "",
        Imagem: "http://www.akytudo.com.br/imagens/placa-preta.png",
        Agenda: [
            {
                Horario: new Date(2000, 1, 1, 8, 10, 0),
                Descricao: "Aula Matematica",
                Professor: "Gustavo Maritan"
            }
        ]
    }];
</script>

<script>
    var dataHJ = '@DateTime.Now.ToShortDateString()';

    $('#ddlAno').val(dataHJ.split('/')[2]);
    $('#ddlMes').val(dataHJ.split('/')[1]);

    //GetCalendar();

    function GetCalendar() {
        $.get('@Url.Action("CalendarMes","Home")', {
            ano: $('#ddlAno').val(),
            mes: $('#ddlMes').val()
        }).success(function (dados) {
            $('#divCalendar').html(dados);
        });
    }

    $(window).resize(function () {
        $('#lb1').html('y - ' + $(window).height());
        $('#lb2').html('x - ' + $(window).width());
    });

    @*var g = JSON.parse('@Html.Raw(Json.Encode(Model))');

    var s = $('#divCalendar').caledario(g, {});

    function refresh() {
        s.refresh(conteudo2);
    }*@


</script>