@using System.Globalization
@{
    ViewBag.Title = "Home Page";
    var ano = 2000;
}
<br />
<div class="row">
    <div class="col-sm-4">
        <select class="form-control" id="ddlAno" onchange="GetCalendar()">
            @for (var j = 1; j <= 100; j++)
            {
                <option value="@ano">@ano</option>
                ano++;
            }
        </select>
    </div>
    <div class="col-sm-4">
        <select class="form-control" id="ddlMes" onchange="GetCalendar()">
            @for (var j = 1; j <= 12; j++)
            {
                <option value="@j">@DateTimeFormatInfo.CurrentInfo.GetMonthName(j)</option>
            }
        </select>
    </div>
    <div class="col-sm-4">
        <div class="form-control">
            <label id="lb1"></label>
            <label id="lb2"></label>
        </div>
    </div>
</div>
<br />
<div class="row" id="divCalendar">
    @Html.Partial("_CalendarDia2")
</div>


<script>
    var dataHJ = '@DateTime.Now.ToShortDateString()';

    $('#ddlAno').val(dataHJ.split('/')[2]);
    $('#ddlMes').val(dataHJ.split('/')[1]);

    //GetCalendar();

    function GetCalendar() {
        $.get('@Url.Action("CalendarMes","Home")', {
            ano: $('#ddlAno').val(),
            mes: $('#ddlMes').val()
        }).success(function (dados) {
            $('#divCalendar').html(dados);
        });
    }

    $(window).resize(function () {
        $('#lb1').html('y - ' + $(window).height());
        $('#lb2').html('x - ' + $(window).width());
    });
</script>